<div class="maincontainer">
 
    <nav>
      <ul>
        <li><a id="statusFilter" [routerLink]="['/bankdashboard']" href="#">Disbursed Loan</a></li>
        <li><a [routerLink]="['/bankapprovedloans'] " href="#">Approved Loans</a></li>
        <li><a href="#" [routerLink]="['/loanaccount']">Loan Account</a></li>
      </ul>
    </nav>
   <div *ngIf="loanaccount.length>0" class="table-container" >
    <table >
        <thead>
          <tr>
            <th>ID</th>
            <th>Account no</th>
            <th>totalAmount</th>
            <th>balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loanaccount of loanaccount">
            <td>{{ loanaccount.loanAccountId}}</td>
            <td>{{ loanaccount.accountNo}}</td>
            <td>{{ loanaccount.totalAmount}}</td>
            <td>{{ loanaccount.balance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
 