<div class="main">
    <div class="card1">
        <h2 >User Profile</h2>
        <div>
            <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" 
            alt="profile">
        </div>

        <p><strong>Name:</strong> {{ customer.customerName }}</p>
        <p><strong>Email:</strong> {{ customer.customerEmail }}</p>
        <p><strong>Address:</strong> {{customer.customerAddress }}</p>
        <p><strong>Date of Birth:</strong> {{customer.customerDob }}</p>
        <p><strong>Gender:</strong> {{customer.customerGender }}</p>
        <p><strong>Work experience:</strong> {{customer.workexperience }}</p>
        <p><strong>Annual Income:</strong> {{customer.customerIncome }}</p>
        <p><strong>Credit Score:</strong> {{customer.customerCreditScore }}</p>
    </div>

</div>