<div class="main">

<div class="container">

    <h2>Frequently Asked Questions</h2>

    <div class="accordion-item">

        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do I get a professional loan?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>To acquire a professional loan, simply follow these steps: apply for a loan, submit the required documents, and provide collateral if it is mandated for your specific loan type. Once these steps are completed, your loan request will be processed accordingly.</p>

        </div>

      </div>

    <div class="accordion">

      <div class="accordion-item">

        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">What are the benefits of professional loan?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>Getting a professional loan can help you set up your clinic or firm if you are a doctor or lawyer. Additionally, you can use the loan to increase your working capital, pay salaries to your workers or even purchase the latest machinery. Finally, as a professional, you can use funds to enhance your skills by learning new courses.</p>

        </div>

      </div>

      <div class="accordion-item">

        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What is the interest rate for professional loan?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>Interest rate for professional loan is 12%.</p>

        </div>

      </div>

      <div class="accordion-item">

        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">What is the minimum credit score required?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>Minimum Credit score should be 670</p>

        </div>

      </div>

      <div class="accordion-item">

        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Do you need collateral for a loan?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>A professional loan may or may not require collateral, collateral is required for a loan if the loan amount is greater than double the borrower's salary. This condition is in place to mitigate the risk associated with larger loan amounts and ensure that there is an asset of value that can be used to secure the loan in case of default. Collateral can include assets like real estate, vehicles, or other valuable possessions that can cover the loan amount in the event the borrower cannot repay it.</p>

        </div>

      </div>

      <div class="accordion-item">

        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">What do I need to remember when availing a loan?</span><span class="icon" aria-hidden="true"></span></button>

        <div class="accordion-content">

          <p>When applying for a professional loan, keep in mind your financial requirements and the terms and conditions of the loan, including the applicable interest rate, processing fee and any other charges</p>

        </div>

      </div>

      

    </div>
</div>
  </div>
