.maincontainer{
    background: linear-gradient(164deg, #E8E8E8 5%, #80D0C7 100%);
  }
  nav {
    width: 95%;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 30px;
    position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
  }
   
  nav ul {
    display: flex;
    list-style-type: none; 
  }
  nav ul li{
    margin:0px 5px;
  }
  nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 21px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
  }
  nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color: #4fc2bc ;
    opacity: 40%;
    z-index: -1;
    transition: 0.5s;
  }
  nav ul a:hover:after{
    width: 100%;
  }
  
  
  
  .table-container {
      margin: 20px;
    }
   
   
    /* Style the table */
    .table-container table {
      width: 100%;
      border-collapse: collapse;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
   
    /* Style the table headers */
    .table-container th {
      background-color: #f2f2f2;
      text-align: left;
      padding: 12px;
      font-weight: bold;
      border-bottom: 1px solid #e0e0e0;
    }
   
    /* Style the table rows */
    .table-container td {
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;
    }
   
    /* Style even rows with a different background color */
    .table-container tr:nth-child(even) {
      background-color: #f5f5f5;
    }
   
    /* Hover effect for rows */
    .table-container tr:hover {
      background-color: #e0e0e0;
    }
   
    /* Style the label */
    label {
      font-weight: bold;
    }
   
    /* Style the select dropdown */
    select {
      padding: 8px;
      font-size: 16px;
    }
    .loan-button{
      margin-right: 30px;
   
    }
    .abc{
      display: flex;
      flex-direction: row;
     
    }
    .btn{
      margin-right: 10px;
      /* background-color: #4fc2bc; */
      background-color:#2b98e1;
      outline: none;
    }
    .btn-margin {
      padding-left: 15px;
    }
    .spacer {
      flex-grow: 1;
    }
   