
<div class="main">
<div class="container">
<nav>
    <ul>
        <li><a routerLink="/homepage">Home</a></li>

    </ul>

</nav>

<div class="slider">
  <input type="radio" name="toggle" id="btn-1" checked>
  <input type="radio" name="toggle" id="btn-2">
  <input type="radio" name="toggle" id="btn-3">
  <input type="radio" name="toggle" id="btn-4">
  <input type="radio" name="toggle" id="btn-5">
  <input type="radio" name="toggle" id="btn-6">

  <div class="slider-controls">
    <label for="btn-1"></label>
    <label for="btn-2"></label>
    <label for="btn-3"></label>
    <label for="btn-4"></label>
    <label for="btn-5"></label>
    <label for="btn-6"></label>
  </div>

    <ul class="slides">
      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Doctor Loan</h2>
          <p class="slide-text">A doctor loan, also known as a physician loan, is financial instrument offered to
            doctors,
            medical practitioners and physicians. You can use the loan amount to expand your clinic, purchase advanced
            medical equipment, hire staff and much more.</p>
          <!-- <a href="https://www.bajajfinservmarkets.in/loans/doctor-loan.html" class="slide-link">Apply Now</a>-->
          <a routerLink="/loan-application" class="slide-link" type="button"
            class="btn btn-outline-primary btn-lg btn-block">Apply Now</a>
          </div>
          <p class="slide-image"> <img src="../assets/Doc Loan 1.jpg" alt="stuff" width="320" height="240"></p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">CA Loan</h2>
          <p class="slide-text">Like business owners, professionals need ample funding to ensure seamless operations of
            their practice. In fact, having adequate funding is equally important as having the degree and the right
            skills</p>
          <a routerLink="/loan-application" class="slide-link" type="button"
           class="btn btn-outline-primary btn-lg btn-block">Apply Now</a>
          </div>
        <p class="slide-image"> <img src="../assets/Loan 4(CA).jpg" alt="stuff" width="320" height="240"></p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">CS Loan</h2>
          <p class="slide-text">A company secretary in need of a loan should search for ideal deals under the
            professional
            loan category. This is because numerous Indian banks and NBFCs now offer personalised loans to them
            especially
            when they are self-employed.</p>
          <a routerLink="/loan-application" class="slide-link" type="button"
            class="btn btn-outline-primary btn-lg btn-block" >Apply Now</a>
          </div>
        <p class="slide-image">
          <img src="../assets/Cs loan new.png" alt="stuff" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Architect Loan</h2>
          <p class="slide-text">The eligibility criteria for professional loans are kept pretty simple. Click on Apply Now to get the loan.</p>
          <a routerLink="/loan-application" class="slide-link" type="button"
            class="btn btn-outline-primary btn-lg btn-block">Apply Now</a>
          </div>
        <p class="slide-image">
          <img src="../assets/Arch Loan 2.jpg" alt="stuff" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Enginner Loan</h2>
          <p class="slide-text">While applying you need to bear a processing fee that generally stays within 2% of the
            entire borrowed sum. If you are requesting a loan from a non-local lender then you must pay Rs. 65
            (exclusive
            GST) as outstation collection fees.</p>
          <a routerLink="/loan-application" class="slide-link" type="button"
            class="btn btn-outline-primary btn-lg btn-block">Apply Now</a>
          </div>
        <p class="slide-image">
          <img src="../assets/EngNew.jpeg" alt="stuff" width="320" height="240">
        </p>
      </li>

      <li class="slide">
        <div class="slide-content">
          <h2 class="slide-title">Lawyer Loan</h2>
          <p class="slide-text">Financial institutions minutely scrutinise before extending loans to self-employed
            individuals as they have an unpredictable monthly income. As a result, they often face credit issues,
            especially when they are just starting their career.</p>
          <a routerLink="/loan-application" class="slide-link" class="slide-link" type="button"
            class="btn btn-outline-primary btn-lg btn-block">Apply Now</a>
        </div>
        <p class="slide-image">
          <img src="../assets/lawyer.png" alt="stuff" width="320" height="240">
        </p>
      </li>

    </ul>
    </div>
</div>
